/node_modules
/public/hot
/public/storage
/public/assets
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
error_log
/storage/tmp
public.zip
app.zip
.idea.zip
Admin new install v2.3.0.zip
